nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  button {
    background-color: none;
    border: none;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 786px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
