* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(56, 56, 56);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}
.lib-active {
  margin-left: 30%;
}

@import "./player";
@import "./songs";
@import "./library";
@import "./nav";
